@import "mixins";

@include font-face('Inter', '~@fonts/Inter/Inter-Thin', 100);
@include font-face('Inter', '~@fonts/Inter/Inter-ExtraLight', 200);
@include font-face('Inter', '~@fonts/Inter/Inter-Light', 300);
@include font-face('Inter', '~@fonts/Inter/Inter-Regular', 400);
@include font-face('Inter', '~@fonts/Inter/Inter-Medium', 500);
@include font-face('Inter', '~@fonts/Inter/Inter-SemiBold', 600);
@include font-face('Inter', '~@fonts/Inter/Inter-Bold', 700);
@include font-face('Inter', '~@fonts/Inter/Inter-ExtraBold', 800);

@mixin fontThin() {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    line-height: 18px;
}

@mixin fontExtraLight() {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    line-height: 18px;
}

@mixin fontLight() {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 18px;
}

@mixin fontRegular() {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 18px;
}

@mixin fontMedium() {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 18px;
}

@mixin fontSemiBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 18px;
}

@mixin fontBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 18px;
}

@mixin fontExtraBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 18px;
}
